<%= stylesheet_link_tag 'top-style', media: 'all', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag 'mypage', media: 'all', "data-turbolinks-track" => true %>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container">

<!--ヘッダーに関する記述---------------------------------------------------------->
    <%= render 'layouts/header' %>
<!--ヘッダーに関する記述ここまで---------------------------------------------------->

<!--メインコンテンツに関する記述----------------------------------------------------->
      <main class="contents">

          <section>
            <h2 class="midasi">ログイン</h2>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">

                <%= form_for(:session, url: login_path) do |f| %>

                  <p><%= f.label :email, "メールアドレス" %>
                  <%= f.email_field :email, class: 'form-control' %></p>

                  <p><%= f.label :password, "パスワード" %>
                  <%= f.password_field :password, class: 'form-control' %></p>



                  <p><%= f.label :remember_me, class: "checkbox inline" do %>
                    <%= f.check_box :remember_me %>
                    <span>ログイン状態を維持する</span></p>
                  <% end %>

                  <p><%= f.submit "Log in", class: "btn btn-primary" %></p>

                  <p><%= link_to "パスワードをお忘れの方", new_password_reset_path %></p>
                <% end %>

                <p>会員登録がまだの方 <%= link_to "会員登録", signup_path %></p>
              </div>
              </div>
            </div>

</section>

</main>
<!--メインコンテンツに関する記述ここまで---------------------------------------------->

<!--フッターに関する記述----------------------------------------------------------->
<%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->

<!--javascriptのファイルの読み込み等-->
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
mode: 'fade',
speed: 5000,
randomStart: true,
pager: false,
controls: false,
auto: true
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
if ($(window).width() > 420) {
$('.akineta').bgswitcher({
images: ['/img/top/slide/sample.jpg','/img/top/slide/sample2.jpg','/img/top/slide/sample3.jpg'],
interval: 5000
});
}
});
</script>
