<h1>「<%= @recipe.dishname %>」をお気に入りに登録しました</h1>
<div>
  <%= link_to 'マイページでお気に入りを確認', user_page_path(current_user) %><br>
  <%= link_to 'レシピへ戻る', :back %><br>
  <%= link_to 'スタート画面へ戻る', root_path %>
</div>
