<%= stylesheet_link_tag 'frame', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'menu', media: 'all', 'data-turbolinks-track' => true %>
<body>

  <div class="container">
    <!--ヘッダーに関する記述---------------------------------------------------------->
        <%= render 'layouts/header' %>
    <!--ヘッダーに関する記述ここまで---------------------------------------------------->

    <main class="content">
      <section class="contents">
        <article class="grid">
          <p><h3 class="heading">作り方</h3></p>
          <% @recipe.each do |key,value| %>
            <i class="fa fa-lemon-o" aria-hidden="true" style="padding:0px 5px 10px 10px;font-style:bold"></i><%= key.gsub(/step/, "手順") %>
            <p><%= value %></p><br>
          <% end %>

        </article>
        <p class="readmore"><%= link_to "» 戻る", dish_path %></p>

      </section>
    </main>

<!--フッターに関する記述----------------------------------------------------------->
  <%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->
<!--javascriptのファイルの読み込み等-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
